
# definition of variables, 
# using bash syntax

# folder to store the pristines used for the scripts to make faster sucessives clones
# This folder must exist
export GIT_PRISTINES_PATH="$HOME/Openbravo/dt/git_pristines"

# folder to stores the workspaces created by the script
# This folder must exist
export WORKSPACES_PATH="$HOME/Openbravo/workspaces"

# what is the password of your postgres admin user
export POSTGRES_ADMIN_PASS="postgres"

# when developing pi-mobile tests to check that you haven't forget to set the author, or change the author after copy a test
# needed only for the commit hook
export AUTHOR_FOR_PI_MOBILE_TESTS=

# Execute jest tests on githook pre-commit, it will not make the commit fail
# export EXECUTE_TESTS_ON_COMMIT=true

